.second-section {
  background-color: var(--background-gray-color);
  width: 100vw;
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 2;
}

.content-wrapper {
  width: var(--width-container);
  max-width: var(--max-width);
  height: 100%;
  padding: var(--padding-blocks) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.third-section-up {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.company-label {
  font-size: 40px;
  font-weight: 500;
}

.company-img {
  pointer-events: none;
  width: 610px;
  border-radius: var(--big-border-radius);
  object-fit: fill;
}

.third-section-down {
  width: 100%;
  max-width: var(--max-width);
  /* height: 100%; */
  background-color: white;
  padding: 32px 40px;
  border-radius: var(--big-border-radius);
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 16px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.about-item-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3px;
}

.about-item-text-label {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}

.about-item-text-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
}

.third-section {
  width: 100vw;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--padding-blocks);
  padding-bottom: var(--padding-blocks);
}

.third-section__content {
  width: var(--width-container);
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
}

.third-section__img {
  width: 69.2%;
  max-width: 610px;
  border-radius: var(--big-border-radius);
}

.third-section__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 44px;
}

.third-section__texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 17px;
  max-width: 590px;
}

.third-section__label {
  font-size: 40px;
  font-weight: 500;
}

.third-section__description, .result__description {
  font-size: 16px;
  font-weight: 400; 
  color: var(--gray-text);
}

.third-section__results {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}

.result__sum {
  font-size: 32px;
  color: var(--blue-color);
  font-weight: 500;
}

.certificates-section {
  padding-top: var(--padding-blocks);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.sertificates-label {
  font-size: 40px;
  font-weight: 500;
}

.certificates-wrapper {
  width: 88vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.certificates-item {
  width: 281px;
  height: 382px;
}

.certificates-img {
  width: 100%;
}

.cta-wrapper {
  position: relative;
  width: var(--width-container);
  max-width: var(--max-width);
  box-sizing: border-box;
  height: 314px;
  border-radius: var(--big-border-radius);
  background-color: var(--blue-color);
  display: flex;
  align-items: end;
  justify-content: start;
  box-sizing: border-box;
  gap: 60px;
  margin-bottom: var(--half-padding-blocks);
  margin-top: var(--padding-blocks);
}

.cta-partner-img {
  /* position: absolute;
  bottom: 0;
  left: 44px; */
  margin-left: 44px;
  width: 26.8vw;
  max-width: 386px;
  min-width: 221px;
}

.text-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 60px;
  z-index: 1;
  height: 100%;
}

.cta-text-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 6px; 
  color: white;
}

.cta-partner-label {
  font-size: 36px;
  font-weight: 400; 
}

.cta-partner-description {
  font-size: 16px;
  font-weight: 400;
  opacity: .9;
}

.cta-partner-btn {
  color: var(--blue-color);
  background-color: white;
  padding: 20px 47px;
  border-radius: var(--btn-border-radius);
}

@media (max-width: 1220px) {
  .third-section-up {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .about-text-wrapper {
    max-width: none;
  }

  .company-img {
    width: 100%;
  }

  .third-section__content {
    flex-direction: column-reverse;
    max-width: none;
  }

  .third-section__img {
    width: 100%;
    max-width: none;
  }

  .third-section__info {
    width: 100%;
  }

}

@media (max-width: 768px) {
  .third-section-up {
    flex-direction: column;
  }  

  .third-section-down {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    padding: 20px;
  }

  .about-item {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .about-item svg {
    width: 45px;
    height: 45px;
  }

  .certificates-section {
    width: var(--width-container);
  }

  .certificates-wrapper {
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
  }

  .certificates-wrapper::-webkit-scrollbar {
    display: none;
  }

  .certificates-item {
    height: auto;
  }

  .cta-wrapper {
    gap: 30px;
  }

  .text-button-wrapper {
    gap: 16px;
  }

  .cta-partner-label {
    width: 90%;
  }

}

@media (max-width: 668px) {

  .cta-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    padding: 26px 40px 0 40px;
    gap: 30px;
    position: relative;
  }

  .text-button-wrapper {
    width: 100%;
    gap: 16px;
  }

  .cta-partner-btn {
    width: 100%;
  }

}

@media (max-width: 610px) {
  
  .content-wrapper {
    gap: 16px;
  }

  .company-label, .third-section__label, .sertificates-label, .cta-partner-label, .video-review-label, .sertificates-label {
    font-size: 20px;
  }

  .company-description {
    font-size: 14px;
  }

  .about-item-text-label {
    font-size: 16px;
  }

  .about-item-text-description {
    font-size: 14px;
  }

  .third-section__description {
    font-size: 14px;
  }

  .result__sum {
    font-size: 18px;
  }

  .result__description {
    font-size: 14px;
  }

  .certificates-item {
    width: 34%;
    min-width: 105px;
  }

  .cta-partner-description {
    font-size: 14px;
  }

  .cta-wrapper {
    padding: 21px 16px 0 21px;
  }

  .cta-partner-img {
    margin: 0;
  }



}