.content-category-wrapper {
  width: var(--width-container);
  max-width: var(--max-width);
  margin-top: 20px;
}

.content {
  width: calc(100% / 3 - 20px);
}

.categories-wrapper {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
}

.category-item {
  width: 100%;
  height: 273px;
  background-color: white;
  border-radius: var(--big-border-radius);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 35px;
  transition: all 0.3s ease;
}

.category-up {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.category-label {
  text-align: start;
  font-size: 24px;
  font-weight: 600;
}

.category-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
}

.category-img {
  width: 62.25%;
  min-width: 159px;
  max-width: 250px;
  position: absolute;
  right: -59px;
  bottom: -85px;
  z-index: 1;
  transition: all 0.3s ease;
}

.category-item-anim-img {
  position: absolute;
  top: -23px;
  right: 59px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

/* Ховер эффекты для кнопки */
.category-item:hover {
  background-color: var(--orange-color);
  color: white;
}

.category-item:hover .category-img {
  transform: rotate(-7deg) translate(-30px, -30px);
}

.category-item:hover .category-item-anim-img {
  transform: rotate(45deg) translate(-60px, -10px);
}

/* SVG анимация при ховере */
.category-item .category-down {
  overflow: visible !important;
  display: inline-block;
  z-index: 1;
}

.category-item .category-down svg {
  overflow: visible !important;
  transition: all 0.3s ease;
}

.category-item .category-down svg circle:last-of-type {
  transition: all 0.3s ease;
  transform-origin: center;
  transform-box: fill-box;
}

.category-item .category-down svg circle:first-of-type {
  transition: all 0.3s ease;
  transform-origin: center;
  transform-box: fill-box;
}

.category-item .category-down svg path {
  transition: all 0.3s ease;
}

/* Эффекты при ховере для SVG */
.category-item:hover .category-down svg circle:first-of-type {
  opacity: 0.5 !important;
}

.category-item:hover .category-down svg circle:last-of-type {
  opacity: 0 !important;
  transform: scale(1.5);
}

.category-item:hover .category-down svg path {
  fill: white !important;
}

.category-item:hover .category-down svg circle {
  stroke: white !important;
}