.first-section {
  width: 100vw;
  height: 530px;
  background-color: var(--blue-color);
  position: relative;
  overflow: hidden;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-section__content {
  width: var(--width-container);
  max-width: var(--max-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 23px;
  z-index: 2;
}

.first-section__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}

.first-section__breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.breadcrumbs__text {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF80;
}

.breadcrumbs__devider {
  width: 19px;
  height: 1px;
  background: #FFFFFF80;
  border: none;
  outline: none;
  cursor: pointer;
}

.first-section__title {
  font-size: 48px;
  font-weight: 500;
  color: white;
  max-width: 1240px;
}

.first-section__description {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF80;
  max-width: 50%;
}

.background-img-png-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--width-container);
  max-width: var(--max-width);
  min-width: 227px;
  height: 100%;
  z-index: 1;
}

.background-png {
  position: absolute;
  bottom: 20px;
  right: 110px;
  width: 49.6%;
}

.background-svg-lines {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transform: rotate(45deg);
  max-width: 715px;
  right: -175px;
}

@media (max-width: 768px) {
  .background-png {
    bottom: 59px;
    right: 0;
  }
}

@media (max-width: 610px) {
  .first-section__content {
    justify-content: start;
    box-sizing: border-box;
    padding-top: 108px;
    gap: 14px;
  }

  .first-section__title-wrapper {
    gap: 8px;
  }

  .breadcrumbs__text {
    font-size: 14px;
  }

  .first-section__title {
    font-size: 24px;
  }
  
  .first-section__description {
    font-size: 14px;
    max-width: var(--max-width);
  }

  .background-svg-lines {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }

  .background-png {
    left: 50%;
    transform: translateX(-50%);
    width: 77.4%;
  }
}