.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 5;
  width: 100vw;
}

.header {
  border-radius: 0 0 var(--big-border-radius) var(--big-border-radius);
  padding-top: 13px;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content-wrapper {
  width: var(--width-container);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
}

.header-first-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0A0A0A;
  opacity: .5;
}

.header-tel-email-wrapper  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
}

.header-tel-link-wrapper, .header-email-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-tel-img, .header-email-img {
  width: 16px;
  height: 16px;
}

.header-tel-text, .header-email-text, .header-social-network-link-max, .header-social-network-link-telegram {
  font-size: 14px;
  font-weight: 400;
}

.header-social-network {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-second-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-burger {
  display: none;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-img {
  width: 175px;
}

.header-links-pages-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 26px;
}

.header-link-catalog-wrapper {
  position: relative;
}

.link-catalog__text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-link-catalog, .header-link-product, .header-link-about, .header-link-contacts, .header-link-form {
  font-size: 16px;
  font-weight: 400;
}

.header__menu-wrapper {
  position: absolute;
  left: 0;
  top: 49px;
  background-color: white;
  border-radius: 0 0 var(--btn-border-radius) var(--btn-border-radius);
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
  width: 382px;
  transition: all .3s ease;
}

.menu-wrapper__item {
  width: 100%;
}

.menu-wrapper__item-text {
  text-align: start;
  font-size: 16px;
  font-weight: 400;
}

.header-button__form {
  display: none;
}

/*  */
.menu {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: white;
  transition: all .3s ease;
  padding: 27px 0;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.menu__content {
  width: var(--width-container);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

.menu__item--products {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.menu__item {
  font-size: 25px;
  font-weight: 400;
  text-align: start;
}

.menu__item-arrow {
  transition: all .3s ease;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

.menu__btn {
  padding: 10px 23px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  border-radius: 40px;
}

.menu__second-level {
  width: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.menu__item--products.open .menu__item-arrow {
  transform: rotate(90deg);
}

.menu__close {
  width: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

/*  */

@media (max-width: 869px) {

  .header {
    border-radius: 0;
    padding-top: 27px;
  }

  .header-content-wrapper {
    justify-content: space-between;
  }

  .header-first-line {
    display: none;
  }

  .header-logo-wrapper {
    gap: 30px;
  }

  .header-burger {
    display: block;
  }

  .hedaer-burger__img {
    width: 20px;
  }

  .header-links-pages-wrapper {
    display: none;
  }

  .header-button__form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 23px;
    background-color: var(--orange-color);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  
}

@media (max-width: 610px) {
  .header {
    padding: 15px 0;
  } 

  .hedaer-burger__img {
    width: 14px;
  }

  .header-logo-img {
    max-width: 127px;
  }

  .header-button__form {
    padding: 8.5px 20px;
  }

  .menu__item, .menu__btn {
    font-size: 18px;
  }
}