.first-section, .second-section, .four-section, .five-section, .six-section {
  width: 100%;
  height: 100vh;
  max-height: 715px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.second-section, .four-section {
  overflow: visible;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--background-gray-color);
  padding-bottom: var(--padding-blocks);
}

.second-section {
  height: 100%;
  max-height: none;
}

.third-section {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four-section, .five-section, .six-section {
  gap: 40px;
  padding: var(--padding-blocks) 0;
  height: 100%;
  max-height: none;
}

.five-section, .six-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.six-section, .seven-section {
  background-color: var(--background-gray-color);
}

.seven-section {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s, visibility 0s;
}

.overlay-active {
  opacity: 1;
  visibility: visible;
  z-index: -1;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.overlay.slide-out {
  animation: slideOutLeft 0.6s ease-in-out forwards;
  z-index: -1;
}

.overlay.slide-in {
  animation: slideInRight 0.6s ease-in-out forwards;
  opacity: 1;
  visibility: visible;
  z-index: -1;
}

/* Адаптивность для мобильных устройств */
/* @media (max-width: 768px) {
  .label {
    font-size: 32px;
  }
  
  .description {
    font-size: 18px;
  }
  
  .btn-catalog {
    padding: 12px 32px;
    height: 52px;
  }
  
  .btn-label {
    font-size: 14px;
  }
  
  .buttons-wrapper {
    margin-top: 32px;
  }
  
  .text-wrapper {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .label {
    font-size: 24px;
  }
  
  .description {
    font-size: 16px;
  }
  
  .content-area {
    padding: 0 20px;
  }
} */

.content-area {
  width: var(--width-container);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  font-size: 52px;
  font-weight: 500;
}

.description {
  font-size: 22px;
  font-weight: 400;
}

.buttons-wrapper {
  width: 100%;
  margin-top: 52px;
}

.btn-catalog {
  padding: 16px 44px;
  height: 62px;
  border-radius: var(--btn-border-radius);
  background-color: var(--orange-color);
  color: white;
}

.circles-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 6px;
  margin-top: 40px;
}

.circles-wrapper svg {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.circles-wrapper svg:hover {
  transform: scale(1.2);
}

.circles-wrapper svg circle {
  transition: fill 0.3s ease;
}

.circles-wrapper svg.active circle {
  animation: pulse 0.3s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.content-wrapper {
  width: var(--width-container);
  max-width: var(--max-width);
  height: 100%;
  padding: var(--padding-blocks) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.third-section-up {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text-wrapper {
  max-width: 610px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.company-label {
  font-size: 40px;
  font-weight: 500;
}

.company-video {
  pointer-events: none;
  width: 610px;
  height: 423px;
  border-radius: var(--big-border-radius);
  object-fit: cover;
}

.third-section-down {
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--blue-color);
  padding: 32px 40px;
  border-radius: var(--big-border-radius);
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 16px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.about-item-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3px;
  color: white;
}

.about-item-text-label {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}

.about-item-text-description {
  font-size: 16px;
  font-weight: 400;
  opacity: .8;
}

.partnership-label, .video-review-label, .sertificates-label, .news-label {
  font-size: 40px;
  font-weight: 500;
}

.partner-item {
  height: 273px;
  background-color: white;
  border-radius: var(--big-border-radius);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 30px;
  text-align: start;
}

.partner-item:hover {
  background-color: var(--blue-color);
  color: white;
}

.partner-item:hover .partner-item-up svg circle {
  stroke: white !important;
}

.partner-item:hover .partner-item-up svg path {
  fill: white !important;
}

.partner-item-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.partner-item-icon {
  width: 31%;
  max-width: 124px;
}

.partner-item-label {
  font-size: 24px;
  font-weight: 600;
}

.partner-item-description {
  font-size: 16px;
  font-weight: 400;
}

.cta-wrapper {
  position: relative;
  width: var(--width-container);
  max-width: var(--max-width);
  box-sizing: border-box;
  height: 314px;
  border-radius: var(--big-border-radius);
  background-color: var(--blue-color);
  display: flex;
  align-items: end;
  justify-content: start;
  box-sizing: border-box;
  gap: 60px;
}

.cta-partner-img {
  /* position: absolute;
  bottom: 0;
  left: 44px; */
  margin-left: 44px;
  width: 26.8vw;
  max-width: 386px;
  min-width: 221px;
}

.text-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 60px;
  z-index: 1;
  height: 100%;
}

.cta-text-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  gap: 6px; 
  color: white;
}

.cta-partner-label {
  font-size: 36px;
  font-weight: 400; 
}

.cta-partner-description {
  font-size: 16px;
  font-weight: 400;
  opacity: .9;
}

.cta-partner-btn {
  color: var(--blue-color);
  background-color: white;
  padding: 20px 47px;
  border-radius: var(--btn-border-radius);
}

.video-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: var(--width-container);
  max-width: var(--max-width);
  row-gap: 20px;
}

.video-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.video-btn-wrapper {
  position: relative;
}

.brightness {
  background-color: #00000020;
}

.brightness, .video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-review-1 {
  pointer-events: none;
  width: 295px;
  height: 182px;
  border-radius: var(--big-border-radius);
  object-fit: fill; 
}

.video-item-label {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  max-width: 295px;
  text-align: start;
}

.certificates-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.certificates-item {
  width: 281px;
  height: 382px;
}

.certificates-img {
  width: 100%;
}

.news-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.news-item-img {
  width: 100%;
  height: 100%;
  border-radius: var(--big-border-radius);
}

.news-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
  max-width: 400px;
  text-align: start;
}

.news-text-label {
  font-size: 18px;
  font-weight: 500;
}

.news-text-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
}

@media (max-width: 1220px) {
  .third-section-up {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .about-text-wrapper {
    max-width: none;
  }

  .company-video {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .text-wrapper {
    gap: 20px;
  }

  .label {
    font-size: 45px;
  }

  .buttons-wrapper {
    margin-top: 30px;
  }  

  .content-wrapper {
    gap: 20px;
  }

  .third-section-down {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
  }

  .about-item {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .about-item svg {
    width: 45px;
    height: 45px;
  }

  .cta-wrapper {
    gap: 30px;
  }

  .text-button-wrapper {
    gap: 16px;
  }

  .cta-partner-label {
    width: 90%;
  }

  .video-wrapper {
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: scroll;
    width: 100%;
  }

  .video-wrapper > :first-child {
    padding-left: calc((100vw - var(--width-container))/2);
  }

  .video-wrapper > :last-child {
    padding-right: calc((100vw - var(--width-container))/2);
  }

  .video-wrapper::-webkit-scrollbar {
    display: none;
  }

  .certificates-section {
    width: var(--width-container);
  }

  .certificates-wrapper {
    width: var(--width-container);
    max-width: var(--max-width);
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: scroll;
  }

  .certificates-wrapper::-webkit-scrollbar {
    display: none;
  }

  .certificates-item {
    height: auto;
  }

  .six-section {
    gap: 30px;
  }

}

@media (max-width: 668px) {

  .cta-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    padding: 26px 40px 0 40px;
    gap: 30px;
    position: relative;
  }

  .text-button-wrapper {
    width: 100%;
    gap: 16px;
  }

  .cta-partner-btn {
    width: 100%;
  }

}
