.background-png--partnerships {
  position: absolute;
  top: 50%;
  transform: translateY(-41%);
  right: 110px;
  width: 49.6%;
}

.padding-top {
  padding-top: var(--padding-blocks);
}

.padding-bottom {
  padding-bottom: var(--padding-blocks);
}

.padding-custom--top {
  padding-top: var(--half-padding-blocks);
}

.margin-top {
  margin-top: var(--padding-blocks);
  margin-bottom: var(--padding-blocks);
}

.white-section, .gray-section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gray-section {
  background-color: var(--background-gray-color);
}

.gray-section--z-index {
  z-index: 3;
}

.tabs-wrapper {
  position: sticky;
  top: 105px;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  background-color: var(--background-gray-color);
  z-index: 2;
}

.tabs-wrapper::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100vw;
  background-color: var(--background-gray-color);
  height: 100%;
  z-index: -1;
}

.tabs {
  width: var(--width-container);
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  flex-wrap: wrap;
}

.tabs__button {
  padding: 16px 30px;
  border-radius: 43px;
  background-color: white; 
  box-sizing: border-box;
}

.active-tab {
  background-color: var(--blue-color);
  color: white;
}

.taxi-and-carsh-partnersip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: var(--width-container);
  max-width: var(--max-width);
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: var(--width-container);
  max-width: var(--max-width);
}

.info-section__left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 34px;
  max-width: 578px;
}

.info-section__header {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 13px;
}

.info-section__title {
  font-size: 40px;
  font-weight: 500;
}

.info-section__description {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
  opacity: .8;
}

.info-section__methods {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.method-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 6px;
}

.method-card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.method-card__title {
  font-size: 16px;
  font-weight: 500;
}

.info-section__right {
  width: 42.36vw;
  max-width: 610px;
  min-width: 374px;
  border-radius: var(--big-border-radius);
}

.info-section__image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
}

.taxi-and-carsh-partnersip-popular-models {
  width: var(--width-container);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

.popular-models__title {
  font-size: 24px;
  font-weight: 600;
}

.popular-models__tabs {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.popular-models__tab {
  background-color: white;
  padding: 17px 15px;
  border-radius: 10px;
}

.active-tab--popular-model {
  background-color: var(--blue-color);
  color: white;
}

.popular-model__info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.model-info__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  transition: all .3s ease;
}

.btn--model-info {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  flex-shrink: 0;
  background: 0; 
  transition: transform 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

.model-info__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 32px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
}

.btn--model-info:hover {
  transform: scale(1.01);
}

.btn--model-info:active {
  transform: scale(0.99);
}

.head-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.head-item__wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

.head-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
  width: 160px;
}

.head-item__title {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
}

.head-item__value {
  font-size: 20px;
  font-weight: 500;
}

.head-item__devider {
  width: 1px;
  height: 53px;
  background: #DADCDF;
  border: none;
  outline: none;
  cursor: pointer;
}

.model-info__body {
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 24px 32px 56px 32px;
  box-sizing: border-box;
  gap: 40px;
  display: none;
  transition: all .3s ease;
}

.filter-variants {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 14px;
  width: 200px;
}

.filter-variants__head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-variants__head-img {
  max-width: 17px;
}

.filter-variants__head-title {
  font-size: 16px;
  font-weight: 400;
}

.filter-variants__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 7px;
}

.filter-variant {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue-color);
  text-decoration: none;
}

.filter-variants__devider {
  width: 1px;
  height: 150px;
  background: #DADCDF;
  border: none;
  outline: none;
  cursor: pointer; 
}

.head-item__arrow {
  transition: all .3s ease;
}


/*  */

.model-info__body.active-model-info__body {
  display: flex;
}

.model-info__head.active-model-info__head {
  background-color:var(--blue-color);
}

.head-item__title.head-item__text-active, .head-item__value.head-item__text-active {
  color: white;
}

.head-item__arrow.head-item__arrow-active {
  transform: rotate(90deg);
}

.head-item__arrow.head-item__arrow-active path {
  stroke: white;
}

.cta-taxi {
  background-image: url("../src/partnership/back_1.png");
}

.cta-mrqtpls {
  background-image: url("../src/partnership/back_2.png");
}

.cta-brand {
  background-image: url("../src/partnership/back_3.png");
}

.cta-your--size {
  background-image: url("../src/partnership/back_4.png");
}

.partnersip-cta {
  width: var(--width-container);
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 45px 22px 45px;
  /* background-color: var(--blue-color); */
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: right;
  box-sizing: border-box;
  border-radius: var(--big-border-radius);
  height: 297px;
  /* height: 20.625vw; */
  /* max-height: 297px;
  min-height: 230px; */
}

.cta__left {
  width: 38%;
  max-width: 472px;
}

.cta__img {
  width: 100%;
}

.cta__right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 28px;
}

.cta__texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  color: white;
  max-width: 616px;
}

.cta__label {
  font-size: 36px;
  font-weight: 500;
}

.cta__description {
  font-size: 16px;
  font-weight: 400;
  opacity: .9;
}

.cta_button {
  padding: 20px 48px;
  background-color: var(--orange-color);
  color: white;
  border-radius: var(--btn-border-radius);
}

.section__content {
  width: var(--width-container);
  max-width: var(--max-width);
  gap: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#section-1, #section-2, #section-3, #section-4, #section-5, #section-6 {
  scroll-margin-top: 347px;
}


@media (max-width: 1061px) {
  .partnersip-cta {
    background-size: auto 100%;
  }
}

@media (max-width: 1084px) {
  .head-texts, .head-item__wrapper {
    gap: 31px;
  }
}

@media (max-width: 1220px) {
  .info-section {
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }

  .info-section__left {
    width: var(--width-container);
    max-width: none;
    gap: 12px;
  }

  .info-section__right {
    width: var(--width-container);
    max-width: none;
  }
}

@media (max-width: 869px) {
  .tabs-wrapper {
    position: sticky;
    top: 94px;
    overflow-x: scroll;
  }
  
  .tabs {
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
  }
  
  .tabs > :first-child {
    margin-left: calc((100vw - var(--width-container))/2);
  }
  
  .tabs > :last-child {
    margin-right: calc((100vw - var(--width-container))/2);
  }

  .tabs-wrapper::-webkit-scrollbar {
    display: none;
  }

  .popular-models__tabs {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-auto-columns: minmax(auto, 1fr);
    gap: 10px;
    overflow-x: scroll;
    height: auto;
  }

  .popular-models__tabs::-webkit-scrollbar {
    display: none;
  }

  .popular-models__tab {
    width: 100%;
    white-space: nowrap;
  }

  .partnersip-cta {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 26px 40px;
    gap: 30px;
    position: relative;
    background-color: var(--blue-color);
    background-image: none;
  }

  .cta_button {
    width: 100%;
  }

  .cta__left {
    display: none;
  }
  
  .cta__label, .cta__description {
    text-align: center;
  }

} 

@media (max-width: 768px) {
  .info-section {
    width: 100vw;
  }

  .cta__right {
    gap: 16px;
  }

  .cta__label {
    width: 90%;
  }

  .background-png--partnerships {
    bottom: 59px;
    right: 0;
  }

}

@media (max-width: 1021px) {

  .popular-model__info-section {
    align-items: start;
  }

  .model-info__option.active__option {
    width: 100%;
  }

  .head-texts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .head-item__devider {
    display: none;
  }
}

@media (max-width: 845px) {
  .model-info__body {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 24px 32px ;
  }

  .filter-variants__devider {
    width: 100%;
    height: 1px;
  }
}

@media (max-width: 610px) {
  .tabs-wrapper {
    top: 70px;
  } 

  .info-section__title {
    font-size: 20px;
  }

  .info-section__description, .method-card__title, .cta__description {
    font-size: 14px;
  }

  .partnersip-cta {
    padding: 21px 16px;
  }

  .cta__label {
    font-size: 20px;
  }

  .taxi-and-carsh-partnersip-popular-models {
    gap: 15px;
  }

  .head-item__title {
    font-size: 12px;
  }

  .head-texts {
    gap: 10px;
  }

  .head-item__wrapper {
    gap: 0;
  }

  .background-png--partnerships {
    left: 50%;
    transform: translateX(-50%);
    width: 77.4%;
    top: auto;
  }

}

@media (max-width: 428px) {

  .head-texts {
    gap: 10px;
  }
  
  .head-item {
    width: auto;
  }

  .head-item__wrapper {
    flex-direction: column;
    align-items: start;
  }
}