.content-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-gray-color);
}

.item-section {
  width: var(--width-container);
  max-width: var(--max-width);
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 23px;
  margin-top: 150px;
}

.item-section__imgs-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 36.53%;
  max-width: 453px;
  min-width: 300px;
}

.img-gallery-slider {
  width: 100%;
  /* max-width: 453px; */
  /* height: 453px; */
  position: relative;
  overflow: hidden;
  border-radius: var(--big-border-radius);
}

.img-gallery__slides {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.img-gallery__item {
  height: 100%;
}

.item__img {
  width: 100%;
  max-width: 453px;
}

.img-gallery__sliders {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.img-gallery__arrow--left {
  height: 85px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.img-gallery__arrow--right {
  height: 85px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.gallery-sliders__imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 286px;
    overflow: hidden;
}

.slide-item {
  position: relative;
  overflow: hidden;
  max-width: 85px;
  max-height: 85px;
  border-radius: 10px;
}

.slide-item__img {
  width: 100%;
}

.gallery-sliders__imgs.swiper-initialized {
  display: block;
}

.gallery-sliders__imgs .swiper-wrapper {
  display: flex;
  align-items: center;
}

.gallery-sliders__imgs .swiper-slide {
  width: 30% !important;
  height: auto !important;
  aspect-ratio: 1/1;
  flex-shrink: 0;
}

.gallery-sliders__imgs .swiper-slide {
  margin-right: 16px;
}

.gallery-sliders__imgs .swiper-slide:last-child {
  margin-right: 0;
}

.img-gallery__slides.swiper-initialized {
  display: block;
}

.img-gallery__slides .swiper-wrapper {
  display: flex;
  align-items: center;
}

.img-gallery__slides .swiper-slide {
  height: auto !important;
  display: flex;
  justify-content: center;
}

.gallery-sliders__imgs .swiper-slide-thumb-active .slide-item {
  border: 2px solid #364153;
  border-radius: 10px;
}

.item-section__product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.product-info__label {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.product-info__article {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
}

.product-info__title {
  font-size: 36px;
  font-weight: 500;
}

.product-info__variants {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

.variants__title {
  font-size: 18px;
  font-weight: 500;
}

.variants__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 168px));
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 30px;
}

.variants-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 111px;
  overflow: hidden;
  border-radius: 17px;
  background-color: white;
  box-sizing: border-box;
}

.variants-card__up {
  width: 100%;
  border-radius: 17px;
  border-bottom: 1px solid #5E677525;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.variants-card__article {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-color);
  transition: all .3s ease;
}

.variants-card__down {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.variants-card__title {
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-text);
  opacity: .8;
}

.variants-card.active-variant {
  background-color: var(--background-gray-color);
  border: 1px solid #004AAD10;
}

.variants-card__up.active-variant {
  border-bottom: none;
  background-color: var(--blue-color);
}

.variants-card__article.active-variant {
  color: white;
}

.variants-card__title.active-variant {
  color: var(--blue-color);
}

.product-info__btns {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn--bye-bulk {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: var(--orange-color);
  padding: 20px 56px;
  border-radius: 10px;
}

.marketplaces {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.marketplaces__title {
  font-size: 18px;
  font-weight: 500;
  margin-right: 14px;
}

.btn--link {
  max-width: 52px;
  max-height: 52px;
  margin-left: 6px;
}

.btn--link-img {
  max-width: 52px;
}

.product-info__card {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  padding: 31px 35px 39px 35px;
  box-sizing: border-box;
  border-radius: var(--big-border-radius);
  background-color: white;
  width: 100%;
}

.card-label {
  font-size: 24px;
  font-weight: 500;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.card-content__row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-content__title {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
  opacity: .8;
}

.card-content__description {
  font-size: 16px;
  font-weight: 500;
}

.card-content__devider {
  width: 100%;
  height: 1px;
  background: #AEB3BA;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .4;
}

.card-content__row,
.card-content__devider {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.show-more {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue-color);
  margin-top: 12px;
}

.btn-applicability {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  flex-shrink: 0;
  background: 0; 
  transition: transform 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

.btn-applicability:hover {
  transform: scale(1.01);
}

.btn-applicability:active {
  transform: scale(0.99);
}

.applicability-wrapper-anim {
  transition: all .3s ease;
}

.card-content__row--car-brand, .card-content__row--car-model {
  width: 100%;
  height: 40px;
  padding: 9px 20px;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.card-content__row--car-brand {
  background-color: var(--background-gray-color);
}

.card-content__row--car-model {
  justify-content: start;
}

.card-content__arrow--car-svg {
  transition: all .3s ease;
}

/* */

.card-content__row--car-brand.active-car-brand {
  background-color: var(--blue-color);
}

.card-content__row--car-model.active-car-model {
  background-color: var(--orange-color);
}

.card-content__title--car-text.active-car-text {
  color: white;
}

.card-content__arrow--car-svg.active-car-svg {
  transform: rotate(90deg);
}

.card-content__arrow--car-svg.active-car-svg path {
  stroke: white;
}

/*  */

.car-info-table {
  width: 100%;
  margin-top: 6px;
}

thead {
  height: 64px;
  width: 100%;
  position: relative;
  z-index: 0;
}

thead::before {
 content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: var(--background-gray-color);
  border-radius: 7px;
  pointer-events: none;
  z-index: -1;
}

thead th{
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  position: relative;
  z-index: 1;
  padding-right: 10px;
}

thead tr {
  border: none;
  width: 100%;
}

.car-info-table .table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.first-data {
  padding-left: 20px;
}

.last-data {
  padding-right: 20px;
}

.table__data tr {
  border: none;
  width: 100%;
}

tbody tr {
  height: 50px;
  border-bottom: 1px solid #AEB3BA40;
}

tbody td {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
  word-break: break-word;
  padding-right: 10px;
}


@media (max-width: 1000px) {

  .item-section {
    flex-direction: column;
  } 

  .img-gallery__sliders {
    display: none;
  }

  .item-section__imgs-gallery {
    max-height: 300px;
    max-width: none;
    width: 100%;
  }

  .img-gallery__slides {
    aspect-ratio: initial;
    width: 100%;
    overflow: visible;
    overflow-x: scroll !important;
  }
  
  .img-gallery-slider {
    border-radius: 0;
  }

  .swiper-slide {
    width: auto !important;
  }
  
  .item__img {
    max-height: 300px;
    border-radius: var(--big-border-radius);
  }

  .swiper-wrapper {
    gap: 20px;
  }



}