.search-wrapper {
  width: var(--width-container);
  box-sizing: border-box;
  max-width: var(--max-width);
  padding: 32px 40px;
  background-color: #FAFAFB;
  border-radius: var(--big-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.search-wrapper {
  margin-top: -70px;
}

.search-wrapper-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-label {
  font-size: 30px;
  font-weight: 600;
}

.search-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-search-number, .btn-search-auto {
  background-color: white;
  padding: 13px 38px;
  border-radius: var(--big-border-radius);
}

.btn-search-number.active,
.btn-search-auto.active {
  background-color: var(--blue-color);
  color: white;
}

.search-wrapper-down {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
}

.search-by-number {
  display: none;
  width: 100%;
  height: 62px;
  border: 1px solid #D1D5DC;
  border-radius: var(--btn-border-radius);
}

.search-input-car-model, .search-input-car-brend {
  width: 100%;
  height: 62px;
  border: 1px solid #D1D5DC;
  border-radius: var(--btn-border-radius);
  position: relative;
}

.search-input-car-brend-arrow, .search-input-car-model-arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: all .3s ease;
}

.arrow-active {
  transform: rotate(180deg);
}

.search-by-auto {
  display: none;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.search-by-number.active, .search-by-auto.active {
  display: flex;
}

input.search-input::placeholder {
  color: #B9B9B9;
}

input.search-input {
  background-color: inherit;
  font-size: 16px;
  padding: 0px;
  font-family: inherit;
  margin: 0;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 21px;
  height: 100%;
  box-sizing: border-box;
}

.btn-search-enter {
  width: 100%;
  height: 64px;
  max-width: 232px;
  background-color: var(--orange-color);
  border-radius: var(--btn-border-radius);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 1008px) {
  .search-wrapper-up {
    flex-direction: column;
    align-items: start;
    gap: 18px;
  }
}

@media (max-width: 768px) {

  .search-wrapper-up {
    flex-direction: column;
    align-items: start;
    gap: 18px;
  }

  .search-label {
    font-size: 20px;
  }

  .search-wrapper-down {
    flex-direction: column;
    width: 100%;
  }

  .search-by-auto {
    flex-direction: column;
    gap: 12px;
  }

  .search-buttons-wrapper {
    width: 100%;
  }

  .btn-search-number, .btn-search-auto {
    flex: 1;
    height: 45px;
    text-align: center;
    white-space: nowrap;
  }

  .btn-search-enter {
    width: 100%;
    max-width: none;
  }

}

@media (max-width: 610px) {

  .search-wrapper {
    padding: 21px 16px;
    gap: 10px;
  }

  .search-label {
    font-size: 14px;
  }

  .btn-search-number, .btn-search-auto {
    width: 100%;
    font-size: 13px;
    padding: 13px;
  }

  .search-by-number {
    height: 60px;
  }

  input.search-input {
    font-size: 14px;
  }

  .btn-search-enter  {
    height: 62px;
  }
}

/* @media (max-width: 690px) {

  .search-buttons-wrapper {
    flex-direction: column;
    padding: 30px;
  }

  .btn-search-number, .btn-search-auto {
    width: 100%;
    font-size: 13px;
  }

} */