.results-section {
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #E7E9EE;
}

.result-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 88vw;
  max-width: var(--max-width);
}

.result-section__label {
  width: 100%;
  text-align: start;
  font-size: 48px;
  font-weight: 600;
  margin-top: 60px
}

.popular-model__info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 27px;
}

.model-info__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #F7F8FB;
  border-radius: 20px;
  transition: all .3s ease;
}

.btn--model-info {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  flex-shrink: 0;
  background: 0; 
  transition: transform 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

.model-info__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 32px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
}

/* /* .btn--model-info:hover {
  transform: scale(1.01);
} */

.btn--model-info:active {
  transform: scale(0.99);
}

.head-texts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.head-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
  width: 160px;
}

.head-item__title {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
}

.head-item__value {
  font-size: 20px;
  font-weight: 500;
}

.head-item__devider {
  width: 1px;
  height: 53px;
  background: #DADCDF;
  border: none;
  outline: none;
  cursor: pointer;
}

.model-info__body {
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 24px 0 56px 32px;
  box-sizing: border-box;
  gap: 40px;
  display: none;
  transition: all .3 ease;
}

.filter-variants {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 14px;
  width: 200px;
}

.filter-variants__head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-variants__head-img {
  max-width: 17px;
}

.filter-variants__head-title {
  font-size: 16px;
  font-weight: 400;
}

.filter-variants__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 7px;
}

.filter-variant {
  font-size: 16px;
  font-weight: 400;
  color: var(--blue-color);
  text-decoration: none;
}

.filter-variants__devider {
  width: 1px;
  height: 150px;
  background: #DADCDF;
  border: none;
  outline: none;
  cursor: pointer; 
}

.head-item__arrow {
  transition: all .3 ease;
}

/*  */

.model-info__body.active-model-info__body {
  display: flex;
}

.model-info__head.active-model-info__head {
  background-color: white;
}

.head-item__title.head-item__text-active, .head-item__value.head-item__text-active {

}

.head-item__arrow.head-item__arrow-active {
  transform: rotate(90deg);
}

.head-item__arrow.head-item__arrow-active path {
  /* stroke: white; */
}

.contacts-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 32px 32px 32px 64px;
  box-sizing: border-box;
  width: 88vw;
  max-width: var(--max-width);
  border-radius: var(--big-border-radius);
  background-color: var(--blue-color);
  margin: 40px 0;
}

.text-and-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;
}

.texts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.contact-label {
  font-size: 40px;
  font-weight: 500;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.tel-number {
  font-size: 24px;
  font-weight: 600;
}

.mail-wrapper, .location-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.contact-img-wrapper {
  width: 14px;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.mail-img, .location-img {
  width: 100%;
  height: 100%;
}

.mail-text, .location-text {
  font-size: 16px;
  font-weight: 400;
}

.btn-requisits {
  color: white;
  padding: 18px 74px;
  border-radius: var(--btn-border-radius);
  background-color: #3474C7;
}

.map-wrapper {
  position: relative;
  border-radius: 20px;
  width: 45.97%;
  min-width: 410px;
}

.map-img {
  width: 100%;
  height: 100%;
}

.logo-absolute-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result-section__table {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  border-radius: var(--big-border-radius);
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  height: 62px;
  width: 100%;
  position: relative;
  z-index: 0;
}

thead::before {
 content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  background-color: var(--background-gray-color);
  border-radius: 8px;
  pointer-events: none;
  z-index: -1;
}

thead th{
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  position: relative;
  z-index: 1;
}

.first-data {
  padding-left: 20px;
}

tbody tr {
  height: 56px;
  border-bottom: 1px solid #AEB3BA40;
}

tbody td {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-text);
  opacity: .8;
}

tbody tr:last-child {
  border-bottom: none;
  height: 40px;
}