@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../font/Onest-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  transition: all .2s ease;
}

html, body {
  min-height: 100%;
  height: auto;
  font-family: "Onest", sans-serif; 
}

html {
  overflow-x: hidden;
}



html::-webkit-scrollbar {
  display: none;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}




:root {
  --orange-color: #FF914D;
  --blue-color: #004AAD;
  --max-width: 1240px;
  --btn-border-radius: 10px;
  --big-border-radius: 30px;
  --background-gray-color: #EFF1F6;
  --transform-scale-active: scale(0.97);
  --transform-scale-hover: scale(1.03);
  --gray-color: #5E6775;
  --gray-text: #364153;
  --width-container: 88vw;
  --padding-blocks: 80px;
  --half-padding-blocks: 40px;
}

@media (max-width: 768px) {
  :root {
    --width-container: 93.3%;
    --padding-blocks: 24px;
    --half-padding-blocks: 12px;
  }
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  flex-shrink: 0;
  background: 0; 
  transition: transform 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

button:hover,
button:active,
button:focus {
  color: inherit;
  background: none;
  outline: none;
}

@media (max-width: 610px) {
  .btn {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .btn:hover {
    transform: var(--transform-scale-hover);
  }
}


.btn:active {
  transform: var(--transform-scale-active);
}